body {
    background-color: cadetblue;
}

div {
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
    text-decoration-line: underline;
    font-style: italic;
}

nav {
    text-align: right;
}

article {
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 25px;
}

div.box {
    text-align: center;
}